:root {
  color-scheme: dark!important;
  scrollbar-color: #8e8e8e #151515;
}

body {
  background: #151515;
  color: #8e8e8e;
}
pre {
  display: block;
  padding: 10px;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #b3b3b3;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #232222;
  border: 1px solid #424242;
  border-radius: 4px;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #FFFFFF;
  background-color: #232222;
  border-radius: 4px;
}
pre code{
 
  padding: 2px 4px;
  font-size: 90%;
  color: #FFFFFF;
  background-color: #232222;
  border-radius: 4px;

}
.text p code {
  padding: 2px 4px;
  font-size: 90%;
  color: #FFFFFF;
  background-color: #232222;
  border-radius: 4px;
  border:1px solid #424242;
}
input,
textarea {
  color: #8e8e8e;
}
.message {
  border-left: 1px solid rgba(116, 115, 105, 0.1);
}
.refmessage {
  border-left: 1px solid rgba(116, 115, 105, 1);
}
.nick {
  color: #6699cc;
}
.trip {
  color: #515151;
}
.text a {
  color: #5c9c9f;
}
.admin .nick {
  color: #f2777a;
}
.mod .nick {
  color: #66cccc;
}
.me .nick {
  color: #cc99cc;
}
.info .nick,
.info .text {
  color: #3e9353;
}
.warn .nick,
.warn .text {
  color: #ffcc66;
}
#footer {
  background: #151515;
}
#sidebar {
  background: #111;
  border-color: #20201e;
}
#chatform {
  border-color: rgba(116, 115, 105, 0.15);
}
